{% extends "base.html" %}

{% block head %}
<!-- <script type="text/javascript" src="tourneys/{{tourney.id}}.js"></script> -->
<!-- <script type="text/javascript" src="static/raphael-min.js"></script> -->
<script type="text/javascript" src="static/raphael.js"></script>
    <script type="text/javascript" src="static/dracula_graffle.js"></script>
<!--  Graphs  -->
    <script type="text/javascript" src="static/dracula_graph.js"></script>
    <script type="text/javascript" src="static/dracula_algorithms.js"></script>

<script type="text/javascript" src="tourneys/{{tourney.id}}.js"></script>
<script type="text/javascript">
	var box_width = 80;
	var box_height = 30;
	var rounded = 4;
function matchBox(r, match, offset) {
	var shape = r.set().
		push( r.rect( 100, 80 + offset, box_width, box_height, rounded) ).
		push( r.text(100 + box_width/2, 80 + offset + box_height/3, "longstringhuaifurei" ) ).
		push( r.text(100 + box_width/2, 80 + offset + 2 * box_height/3, match["id"] ) );
	return shape;
}
window.onload = function () {
	var width = 640;
	var height = 480;

	var r = Raphael("match_container", 640, 480);
	var offset = 0;
	var boxes = Array();
	for ( idx in matches ) {
		match = matches[idx];
		box = matchBox( r, match, offset );
		boxes.push( box )
		offset += 80;
	}
	for ( var i = 0; i < boxes.length - 1; i++ ) {
		r.connection( boxes[i], boxes[i+1] );
	}
	
	
//  var g = new Graph();
// g.addEdge("strawberry", "cherry");
// g.addEdge("strawberry", "apple");
// g.addEdge("strawberry", "tomato");
//  
// g.addEdge("tomato", "apple");
// g.addEdge("tomato", "kiwi");
//  
// g.addEdge("cherry", "apple");
// g.addEdge("cherry", "kiwi");
//  
// var layouter = new Graph.Layout.Spring(g);
// layouter.layout();
//  
// var renderer = new Graph.Renderer.Raphael('match_container', g, 400, 300);
// renderer.draw();

}
</script>
{% endblock %}

{% block content %}
<div id="match_container">

</div>
{% endblock %}

