{% extends "base.html" %}

{% block head %}
<!-- <script type="text/javascript" src="tourneys/{{tourney.id}}.js"></script> -->
<!-- <script type="text/javascript" src="static/raphael-min.js"></script> -->
<script type="text/javascript" src="static/raphael.js"></script>
    <script type="text/javascript" src="static/dracula_graffle.js"></script>
<!--  Graphs  -->
    <script type="text/javascript" src="static/dracula_graph.js"></script>
    <script type="text/javascript" src="static/dracula_algorithms.js"></script>

<script type="text/javascript" src="tourneys/{{tourney.id}}.js"></script>
<script type="text/javascript">
	var width = 640;
	var height = 480;
	var box_width = 80;
	var box_height = 30;
	var rounded = 4;
	var boxes = Array();
function matchBox(r, match, offset) {
	var shape = r.set().
		push( r.rect( width/2, 					80 + offset, 					box_width, box_height, rounded) ).
		push( r.text( width/2 + box_width/2, 	80 + offset + box_height/3, 	match["lineA"] ) ).
		push( r.text( width/2 + box_width/2, 	80 + offset + 2 * box_height/3, match["lineB"] ) );
	boxes[match["id"]] = shape;
	return shape;
}

function subTree( r, nodeId, direction /*-1:up/1:down*/, xoffset, yoffset) {
	var match = matches[nodeId];
	matchBox( r, match, direction * 60 )
	if ( match.prevA )
		subTree( r, match.prevA, direction );
	if ( match.prevB )
		subTree( r, match.prevB, direction );
}
window.onload = function () {

	var r = Raphael("match_container", 640, 480);
	var offset = 0;
	var final = matches[final_id];
	var final_box = matchBox( r, final, 0 );
	subTree( r, final["prevA"], -1 );
	subTree( r, final["prevB"], 1 );
	
	
	
	for ( var i = 0; i < edges.length - 1; i++ ) {
		r.connection( boxes[edges[i].start], boxes[edges[i].end] );
	}
	
	
//  var g = new Graph();
// g.addEdge("strawberry", "cherry");
// g.addEdge("strawberry", "apple");
// g.addEdge("strawberry", "tomato");
//  
// g.addEdge("tomato", "apple");
// g.addEdge("tomato", "kiwi");
//  
// g.addEdge("cherry", "apple");
// g.addEdge("cherry", "kiwi");
//  
// var layouter = new Graph.Layout.Spring(g);
// layouter.layout();
//  
// var renderer = new Graph.Renderer.Raphael('match_container', g, 400, 300);
// renderer.draw();

}
</script>
{% endblock %}

{% block content %}
<div id="match_container">

</div>
{% endblock %}

